* {
  color: white;
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

button:hover {
  border: 1px solid white;
}

body {
  background-color: #222;
}

body #calculator {
  height: 100vh;
  width: 100%;
}

body #calculator header {
  height: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #calculator header * {
  display: inline-block;
  height: 100%;
  background-color: transparent;
  border: none;
}

body #calculator header button {
  height: 100%;
  width: 42px;
}

body #calculator header button:hover {
  background-color: #444;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

body #calculator header h2 {
  font-weight: 500;
  font-size: 20px;
  position: relative;
  top: 4px;
  padding-left: 8px;
}

body #calculator header :last-child {
  margin-left: auto;
}

body #calculator #display {
  width: 100%;
  height: 20%;
  background-color: transparent;
  font-size: 30px;
  font-weight: 600;
  line-height: 7vw;
  text-align: end;
}

body #calculator #display output {
  display: block;
  font-size: 15px;
  font-weight: 300;
  padding-right: 18px;
  width: 100%;
  height: 30%;
  opacity: 0.8;
}

body #calculator #display input {
  background-color: transparent;
  height: 45%;
  width: 100%;
  font-size: 44px;
  font-weight: 600;
  text-align: end;
  padding-right: 10px;
  overflow: hidden;
  border: none;
}

body #calculator nav {
  height: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #calculator nav button {
  background-color: transparent;
  border: none;
  width: 15%;
  height: calc(100% - 4px);
  margin: 2px;
}

body #calculator nav button:last-child {
  margin-left: auto;
}

body #calculator nav button:last-child span {
  font-size: 0.9em;
  padding: -2px;
  margin: 0px;
  vertical-align: top;
}

body #calculator nav button:hover {
  background-color: #444;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

body #calculator #keypad {
  height: 64%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(25% - 2px) calc(25% - 2px) calc(25% - 2px) calc(25% - 2px);
      grid-template-columns: calc(25% - 2px) calc(25% - 2px) calc(25% - 2px) calc(25% - 2px);
  -ms-grid-rows: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
      grid-template-rows: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
  gap: 2px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #calculator #keypad button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  font-size: 14px;
}

body #calculator #keypad button.number, body #calculator #keypad button#dot-button, body #calculator #keypad button#neg-pos-convert-button {
  background-color: #070707;
  font-weight: 500;
  font-size: 1.25em;
}

body #calculator #keypad button.operator, body #calculator #keypad button#equal-button {
  font-size: 1.75em;
  font-weight: 200;
}

body #calculator #keypad button:not(.number) {
  background-color: #111;
}

body #calculator #keypad button#equal-button {
  background-color: #7d583b;
}

body #calculator #keypad button#equal-button:hover {
  background-color: #bf7940;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

body #calculator #keypad button:hover {
  background-color: #444;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
/*# sourceMappingURL=general.css.map */